<div class="alert alert-ligh text-center mb-2 lg" role="alert">
    ACTIVIDADES
  </div>

  <div class="alert alert-success text-center" role="alert">
    PRUEBA ACTIVIDADES
  </div>

<div class="card-deck mb-2">
    <div class="card">
      <img src="img/actividades/1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Electrónica</h5>
        <p class="card-text">Estudia y emplea sistemas cuyo funcionamiento se basa en la conducción y el control del flujo de los electrones u otras partículas cargadas eléctricamente.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>

    <div class="card">
      <img src="img/actividades/2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Electricidad</h5>
        <p class="card-text"> Conjunto de fenómenos físicos relacionados con la presencia y flujo de cargas eléctricas. Se manifiesta en una gran variedad de fenómenos como los rayos, la electricidad estática, la inducción electromagnética o el flujo de corriente eléctrica.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>

    <div class="card">
      <img src="img/actividades/3.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Informática</h5>
        <p class="card-text">Ciencia que administra métodos, técnicas y procesos con el fin de almacenar, procesar y transmitir información y datos en formato digital..</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>