<%- include('header') -%>
<%- include('navbar') -%>
<%- include('footer') -%>


<div class="text-center mt-2">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/VHKGEI-q4wk?autoplay=1"
     frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
     allowfullscreen></iframe>
</div>

<p style="height: 200px;"></p>
<%- include('pie') -%>